[Service]
After=mysqld.service
Requires=mysqld.service
WorkingDirectory=/bin
ExecStart=/bin/auth_service
EnvironmentFile=/etc/auth_service/service.conf
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=propanel
User=root
Group=root
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target
